body {
  background: #7b4397;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #a29cdc, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #a29cdc, #7b4397);
  font-family: 'Roboto', sans-serif;
}

h1,
h1 a {
  font-size: 60px;
  color: white;
  text-align: center;
  text-shadow: 3px 2px 1px black;
}

div {
  perspective: 1000px;
}

.loader {
  text-align: center;
}

.loader h2 {
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px black;
}

.loader img {
  max-width: 100%;
  width: 200px;
  animation: bounce .7s ease-in-out infinite;
  animation-fill-mode: forwards;
	animation-direction: alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}